[Unit]
Description={{ UMAMI_SERVICE_NAME }}
Documentation={{ UMAMI_SERVICE_DOCS }}
After=network.target

[Service]
Environment=FOO=BAR
Type=simple
# TODO: non-root user
User=root
# Make sure to load the environment variables through the systemd definition
ExecStart=/usr/bin/bash -c "cd {{ UMAMI_DIRECTORY }}; npm run start-env;"
WorkingDirectory={{ UMAMI_DIRECTORY }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
