DATABASE_URL={{ UMAMI_DATABASE_SCHEME }}://{{ UMAMI_DATABASE_USER }}:{{ UMAMI_DATABASE_PASSWORD }}@{{ UMAMI_DATABASE_HOST }}:{{ UMAMI_DATABASE_PORT }}/{{ UMAMI_DATABASE_NAME }}

HASH_SALT={{ UMAMI_HASH_SALT }}

FORCE_SSL=1

DISABLE_TELEMETRY=1
